services:
  jaeger:
    image: jaegertracing/all-in-one:latest
    restart: always
    ports:
      - '16686:16686' # UI
      - '4317:4317'   # OTLP gRPC
      - '4318:4318'   # OTLP HTTP
    environment:
      - COLLECTOR_OTLP_ENABLED=true

  prometheus:
    image: prom/prometheus:latest
    restart: always
    ports:
      - '9090:9090'
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'

  grafana:
    image: grafana/grafana:latest
    restart: always
    ports:
      - '3000:3000' # Mapped to host 3000 (standard grafana port)
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD:-admin}
    depends_on:
      - prometheus
