services:
  jaeger:
    image: jaegertracing/all-in-one:latest
    restart: always
    ports:
      - '16686:16686' # UI
      - '4317:4317'   # OTLP gRPC
      - '4318:4318'   # OTLP HTTP
    environment:
      - COLLECTOR_OTLP_ENABLED=true

  prometheus:
    image: prom/prometheus:latest
    restart: always
    ports:
      - '9090:9090'
    environment:
      - APP_TARGET=${APP_TARGET:-app:3000}
      - PM2_METRICS_TARGET=${PM2_METRICS_TARGET:-app:9615}
    entrypoint:
      - /bin/sh
      - -c
      - |
        sed -e "s/\${APP_TARGET}/$APP_TARGET/g" -e "s/\${PM2_METRICS_TARGET}/$PM2_METRICS_TARGET/g" /etc/prometheus/prometheus.yml.template > /etc/prometheus/prometheus.yml
        /bin/prometheus --config.file=/etc/prometheus/prometheus.yml
  grafana:
    image: grafana/grafana:latest
    restart: always
    ports:
      - '3000:3000' # Mapped to host 3000 (standard grafana port)
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD:-admin}
    depends_on:
      - prometheus
